<nav>
    <div class="site-title">
        <a href="/"<h1>My Blog</h1></a>
        <p>Welcome to my Blog</p>
    </div> 
    <ul>
          <li><a href="/">Blogs</a></li>  
          <li><a href="/about">About</a></li>  
          <li><a href="/blogs/create">New blogs</a></li>  
    </ul> 
</nav>