<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>My name is Isaac Okeyo, aged 24 years </p>
        <p>I'm a graduate from Meru university of science and technology</p>
        <p>Im a software engineer with fullstack app development, also im a mobile developer </p>
</div>
<%- include('./partials/footer.ejs') %>  
</body>
</html>